@media screen and (min-width: 500px)
{
    .sections{
        grid-template-columns: 2fr 1fr;

    }
    nav ul {
        display:flex;
        justify-content: space-around;

    }
    nav a {
    }
    main {
        grid-template-columns: 1fr 1fr;
    }

    .sidebar {
        grid-column: 1 / 2;
    }
    .main-section {
        grid-column: 2 / 3;
    }
}