:root {
    --primary-color: #eecba4;

    --secondary-color: #ffeac4;
    --tertiary-color: #255500;
    --quaternary-color: #eaeff1;
}

body {
    color: var(--tertiary-color);
    max-width: 1000px;
    
}
header {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 5rem;
    font-family: Tangerine;
    font-weight: 700;
}
header span{
    margin: 1rem;
}
nav {
    background-color: var(--quaternary-color);
    font-family: Kalam;
}
nav a {
    display: flex;
    justify-content: space-around;
    color: var(--tertiary-color);
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding: .5rem;
    
}
nav ul {
    padding: 0;
    list-style: none;
}

nav a:hover{
    background-color: var(--tertiary-color);
    color: var(--quaternary-color)
}

nav .active{
    background-color: var(--primary-color);
}

nav ul {
    margin: 0;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	right: 1rem;
	top: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	/* background-color: #333;
	color: #fff; */
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	/* color: #fff; */
}
.navigation a:hover {
	/* background-color: #bbb;
	color: #333; */
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	/* content: "📍";  just a wayfinding symbol for the user */
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}
#mode {
	position: absolute;
	top: 1rem;
	right: 3rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


main {
    background-color: var(--secondary-color);
    font-family: kalam;
}

.hero {
    position: relative;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-label {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2rem;
}


h1, h2 {
    font-family: "Dancing Script", cursive;
    margin: 0;
    color: var(--tertiary-color)
}
h1 {
    padding: 1rem;
}
h2 {
    background-color: var(--quaternary-color);
    /* margin: 1rem; */
    padding: 1rem;
    /* overflow: hidden; */
    
}
.sections {
    display: grid;
    grid-template-columns: 1fr;
    
}

.sections section{
    margin: .5rem;
    border: 1rem solid;
    border-color: var(--tertiary-color);
    border-radius: 2rem;
    /* padding: 1rem; */
    overflow: hidden
}
.card p {
    margin: 1rem;
}
.card li {
    font-size: 1.5rem;
}

footer {
    background-color: var(--quaternary-color);
    padding: 1rem;
    font-family: kalam;
    text-align: center;

}
footer p {
    margin: 0;
}